<nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="/"><img src="/assets/images/quick_share_log2.svg" alt="" srcset=""
          class="img-fluid mx-1"> QuickShare</a>
    </div>
  </nav>