<%- include('../partials/head.ejs')%>
<%- include('../partials/nav.ejs')%>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 text-center">
            <div class="whenError mt-3 mb-5">
                <img src="/assets/images/error.svg" alt="" srcset="" class="img-fluid pb-4" width="35%">
                <p class="text-secondary h6"><%=locals.error%></p>
               <a href="/"><button class="btn btn-primary my-2">Back Homepage</button></a>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs')%>

 

